:root {
  /*Declares colors with red palette */
  --darkest: #450a0a;
  --secondDarkest: #7f1d1d;
  --thirdDarkest: #991b1b;
  --darker: #dc2626;
  --mid: #ef4444;
  --light: #f87171;
  --lighter: #fca5a5;
  --thirdLightest: #fecaca;
  --secondLightest: #fee2e2;
  --lightest: #fef2f2;
}


body{
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2px;
  height: 100vh;
  grid-template-rows: auto 1fr;
}

header{
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  background-color: var(--secondDarkest);

}

header h1{
  margin: 0;
  text-align: center;
  flex: 1; 
}

header img{
  margin-right: 10px; 
}

.mainDiv{
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2px;
}


footer{
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondDarkest);
}


.sidebarDiv{
  display: flex;
  flex-direction: column;
  background-color: var(--mid);
  grid-column: 1;
  align-items: center;

}

.sidebarDiv button{
  width: 80%;
  margin: 0.25em;
  max-height: 1.5em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.sidebarDiv button img{
  height: 80%;
  margin-right: 0.25em;
}

.sidebarDiv button p{
  margin: 0;
}

.mainContent{
  background-color: var(--lighter);
}